@model users.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_ForeignId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_ForeignId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_ForeignCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_ForeignCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_Pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_MachineID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_MachineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.u_DefaultLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.u_DefaultLanguage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.u_Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
